.wrapper {
  margin-top: 70px;
}

.formSingup {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px 30px;
}

.userName,
.account,
.password,
.rePassword {
    margin: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 500;
        font-size: 14px;
    }

    input {
        margin-top: 8px;
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 6px 7px;
        background: #e8f0fe;
    }

    .errValue {
        position: absolute;
        color: red;
        font-size: 12.2px;
        top: 59px;
        font-weight: 400;
        right: -1px;
        width: 100%;
        display: none;
    }

    .isError {
        display: block;
    }

    .isErrorPassword {
        display: block;
    }
}


.signUp,
.backHome {
    padding: 7px 13px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background: #3f7fe8;
    color: white;
    transition: 0.25s;

    &:hover {
        background: rgb(238, 85, 85);
    }
}

.title {
    display: flex;
    align-items: center;
    img {
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }
}

.bottomForm {
    display: flex;
    position: relative;

    .loadingSussces {
        position: absolute;
        left: 200px;
        top: -7px;
    }
}