.wrapper {
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.loginSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;

    .nameUser {
        color: white;
        margin: 0 10px;
    }

    .signOut {
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        margin: 0 10px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.navUser {
    display: flex;
    justify-content: center;

    a {
        margin: 0 10px;
        text-decoration: none;
        color: black;
        font-size: 18px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.signIn {
    padding: 5px;
}

.singUp {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}